#[Info]
site_name: Quinn's Website
site_url: https://quinn-dj.github.io/
site_description: 努力成为更好的自己
site_author: Quinn
#[UI]
theme:
  name: material
  custom_dir: docs/overrides
  language: zh
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Close automatic color mode switching
    #primary: blue grey
    - media: "(prefers-color-scheme: light)"
      scheme: default # 日间模式
      primary: indigo # 上方的
      accent: blue # 链接等可交互元件的高亮色
      # teal
      toggle:
        icon: material/weather-sunny # 图标
        name: Switch to dark mode # 鼠标悬浮提示
    - media: "(prefers-color-scheme: dark)"
      scheme: slate # 夜间模式
      primary: black
      accent: indigo
      # teal
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - announce.dismiss #呈现可标记为由用户读取的临时公告，可以包含一个用于取消当前公告的按钮
    # - navigation.instant
    # - header.autohide  #自动隐藏
    - navigation.tracking #地址栏中的 URL 将自动更新为在目录中突出显示的活动锚点
    - navigation.tabs #顶级部分将呈现在上面视口标题下方的菜单层中，但在移动设备上保持原样
    # - navigation.tabs.sticky  #启用粘性选项卡后，导航选项卡将锁定在标题下方，并在向下滚动时始终保持可见
    - navigation.sections #启用部分后，顶级部分在边栏中呈现为1220px以上视口的组，但在移动设备上保持原样
    - navigation.top # 返回顶部的按钮 在上滑时出现
    - navigation.footer #页脚将呈现在边栏中，但在移动设备上保持原样
    - search.suggest # 搜索输入一些字母时推荐补全整个单词
    - search.highlight # 搜索出的文章关键词加入高亮
    - search.share #搜索分享按钮
    - navigation.expand # 打开Tab时左侧目录全部展开
    - navigation.indexes #启用节索引页后，可以将文档直接附加到节
    - content.tabs.link
    - content.tooltips
    - content.code.copy #代码复制
    - content.action.edit
    - content.action.view
    - content.code.annotate
  language: zh # 一些提示性的文字会变成中文

  icon:
    repo: fontawesome/brands/github #右上角图标
    logo: logo


nav: 
  - 首页:
    - index: index.md
  - Mathematics:
    - index: mathematics/index.md
    - 常微分方程: mathematics/ODE.md
  - Computing & Coding:
    - index: coding/index.md
    - 三体问题: coding/3body.md
    - Verlet 算法: coding/verletalgorithm.md
  - Data Structure & Analysis:
    - index: dsa/index.md
    - 复习笔记: dsa/Review/Review.md
    - 课后作业解题报告:
      - DS-1: dsa/DS-1.md
      - DS-2: dsa/DS-2.md
      - DS-3: dsa/DS-3.md
      - DS-4: dsa/DS-4.md
      - DS-5: dsa/DS-5.md
      - DS-6: dsa/DS-6.md
      - DS-7: dsa/DS-7.md
      - DS-8: dsa/DS-8.md
      - DS-9: dsa/DS-9.md
      - DS-10: dsa/DS-10.md
  - 博客:
    - index: blog/index.md
  - 标签: tags.md
  - 友情连接:
    - Links: links/index.md

extra:
  # alternate:
  generator: true #是否删除页脚显示“使用 MkDocs 材料制造”
  social: #联系方式图标 : https://fontawesome.com/ 去这里找图标
    # - icon: fontawesome/brands/weixin #联系方式图标
    #   link: 
    #   name: Wechat
    # - icon: fontawesome/brands/telegram
    #   link: 
    #   name: telegram
    - icon: fontawesome/brands/github
      link: https://github.com/quinn-dj

    - icon: fontawesome/regular/envelope
      link: mailto:<yv40403@gmail.com> #邮件联系方式

plugins:
  - search #搜索配置
  - blog: #博客配置
      post_date_format: full #时间
      draft: true
      draft_if_future_date: true #自动将具有未来日期的帖子标记为草稿
      post_readtime: true
      post_readtime_words_per_minute: 265 #计算帖子的阅读时间时读者每分钟预计阅读的字数
      post_url_format: "{date}/{slug}"
      # categories_slugify: !!python/object/apply:pymdownx.slugs.slugify
      #   kwds:
      #     case: lower
      pagination_url_format: "page/{page}"
      authors_file: "{blog}/.authors.yml" #作者信息
  - tags

markdown_extensions:
# 详见https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/ 和 https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown/
  - abbr
  - attr_list
  - admonition
  - def_list
  - footnotes
  - md_in_html
  - meta # 支持Markdown文件上方自定义标题标签等
  - pymdownx.caret
  - pymdownx.betterem
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.smartsymbols
  - pymdownx.tilde
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format:
            !!python/name:pymdownx.superfences.fence_code_format # 代码块高亮插件
  - pymdownx.arithmatex: # latex支持
      generic: true
  - toc:
      permalink: true # 固定标题位置为当前位置
  - pymdownx.highlight: # 代码块高亮
      anchor_linenums: true
      linenums: true # 显示行号
      auto_title: true # 显示编程语言名称
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

extra_javascript:
  - javascripts/extra.js
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - stylesheets/extra.css
  - stylesheets/link.css
  - stylesheets/customize.css
  - https://unpkg.com/katex@0/dist/katex.min.css
  - https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css #字体

